* {
  border: none;
  border-radius: 0;
  font-family: ui;
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: rgba(200, 200, 200, 0.8);
  margin-left: 20px;
  margin-right: 20px;
}

.modules-right > widget:last-child {
  margin-right: 20px;
}

#workspaces button {
  padding: 0px 12px;
  color: rgba(200, 200, 200, 0.8);
  background: transparent;
}

#workspaces button:hover {
  background: transparent;
}

#workspaces button.active {
  background: rgba(60, 60, 60, 0.5);
}
